#response{
    width: 70%;
    height: 50%;
    background-color: rgb(12, 131, 31);
    border:none;
    margin: auto;
    display: block;
    margin-top: 7%;    
    overflow: hidden; 
    color:whitesmoke;
}

#response:hover{
    /* height:fit-content; */
    overflow: visible;
}

.bar{
    width: 10px;
    height: 10%;
    background-color: white;
}

.quotes{
    color: rgb(12, 131, 31);
}

.Login{
    position:absolute;
    width: 45%;
    height: fit-content;
    padding: 10px;
    left:25vw;
    top:30%;
    background-color: whitesmoke;
    z-index: 1;
    border:0.1px solid gray;
    box-shadow:0 0 10px 2px #999999;
    border-radius: 10px;
}

.login-title{
    width: 100%;
    height: 50px;
    background-color: rgb(30, 179, 60);
    position: relative;
    top:-19px;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border-radius: 10px;
}

.login-info{
    text-align: center;
}

.login-body{
    background-color: #dedede;
    width: 50%;
    margin: auto;
    height: 50%;
}

input, .submit-btn{
    width: 60%;
    height: 40px;
    margin-left: 20%;
    margin-top: 20px;
    border: none;
    outline:none;
    padding: 7px;
}

.submit-btn button{
    width: 100%;
    height: 40px;
    border: none;
    outline:none;
    background-color: rgb(30, 179, 60);
}

/* .response-btn{
    overflow: hidden;
} */

/* .loc-btn{
    display: flex;
    justify-content: center; 
} */

.iNbwPq {
    width: 50px;
    height: 24px;
    background: radial-gradient(circle closest-side, #0c831f 90%, white) 0% 50%, radial-gradient(circle closest-side, #0c831f 90%, white) 50% 50%, radial-gradient(circle closest-side, #0c831f 90%, white) 100% 50%;
    background-size: calc(100% / 3) 12px;
    background-repeat: no-repeat;
    -webkit-animation: duscxa 1s infinite linear;
    animation: duscxa 1s infinite linear;
}

/*!sc*/
data-styled.g1[id="components__Dots-sc-1drf5am-0"] {
    content: "iNbwPq,"
}

/*!sc*/
.lilmRt {
    height: 30px;
    width: 92px;
    cursor: pointer;
    border-radius: 0;
}

/*!sc*/
data-styled.g5[id="Imagestyles__ImageContainer-sc-1u3ccmn-0"] {
    content: "lilmRt,"
}

/*!sc*/
.jdUpJX {
    width: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f2f2;
    height: 100%;
}

/*!sc*/
data-styled.g6[id="VerticalDivider__Divider-sc-9aw8k8-0"] {
    content: "jdUpJX,"
}

/*!sc*/
.hnVuxl {
    font-family: 'Okra';
    font-weight: 600;
    font-size: 14px;
    margin: 16px;
}

/*!sc*/
@media (max-width:1020px) {
    .hnVuxl {
        margin-top: 24px;
    }
}

/*!sc*/
data-styled.g359[id="DownloadAndFollowRow__Font-sc-ixdkfr-0"] {
    content: "hnVuxl,"
}

/*!sc*/
.gyBsbb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media (max-width:1020px) {
    .gyBsbb {
        margin-bottom: 24px;
    }
}

/*!sc*/
data-styled.g360[id="DownloadAndFollowRow__Flex-sc-ixdkfr-1"] {
    content: "gyBsbb,"
}

/*!sc*/
.kfNqsf {
    margin: 0px 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: px;
    height: px;
}

/*!sc*/
data-styled.g361[id="DownloadAndFollowRow__SocialIcon-sc-ixdkfr-2"] {
    content: "kfNqsf,"
}

/*!sc*/
.bLeZQJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/*!sc*/
@media (max-width:768px) {
    .bLeZQJ {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/*!sc*/
.cPxShR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/*!sc*/
@media (max-width:768px) {
    .cPxShR {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/*!sc*/
.jgvGfq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/*!sc*/
@media (max-width:768px) {
    .jgvGfq {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/*!sc*/
.iSSvsj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/*!sc*/
@media (max-width:768px) {
    .iSSvsj {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/*!sc*/
data-styled.g362[id="DownloadAndFollowRow__Item-sc-ixdkfr-3"] {
    content: "bLeZQJ,cPxShR,jgvGfq,iSSvsj,"
}

/*!sc*/
.hOxyYr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    background-color: #fcfcfc;
    max-width: 100%;
}

/*!sc*/
data-styled.g363[id="DownloadAndFollowRow__Wrapper-sc-ixdkfr-4"] {
    content: "hOxyYr,"
}

/*!sc*/
.csBNXw {
    padding: 16px 0;
    width: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*!sc*/
@media (max-width:768px) {
    .csBNXw {
        row-gap: 4px;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .csBNXw {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px;
    }
}

/*!sc*/
data-styled.g364[id="DownloadAndFollowRow__Grid-sc-ixdkfr-5"] {
    content: "csBNXw,"
}

/*!sc*/
.cDPZaQ {
    border-radius: 4px;
    margin: 8px;
    cursor: pointer;
}

/*!sc*/
data-styled.g365[id="DownloadAndFollowRow__DownloadAppImage-sc-ixdkfr-6"] {
    content: "cDPZaQ,"
}

/*!sc*/
.hyzNyz {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*!sc*/
@media (max-width:1020px) {
    .hyzNyz {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*!sc*/
data-styled.g367[id="FooterLinks__Grid-sc-12rhzht-0"] {
    content: "hyzNyz,"
}

/*!sc*/
.aonOx {
    font-family: Okra;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    margin: 24px 0;
}

/*!sc*/
data-styled.g368[id="FooterLinks__ListHeading-sc-12rhzht-1"] {
    content: "aonOx,"
}

/*!sc*/
.fBgyNM {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
}

/*!sc*/
data-styled.g369[id="FooterLinks__List-sc-12rhzht-2"] {
    content: "fBgyNM,"
}

/*!sc*/
.flTNGy {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
    color: #0c831f;
    font-size: 16px;
}

/*!sc*/
data-styled.g371[id="FooterLinks__SeeAll-sc-12rhzht-4"] {
    content: "flTNGy,"
}

/*!sc*/
.bZlgle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

/*!sc*/
data-styled.g372[id="FooterLinks__HeadingContainer-sc-12rhzht-5"] {
    content: "bZlgle,"
}

/*!sc*/
.kymqhZ {
    font-size: 14px;
    color: #666666;
    font-family: 'OKRA-REGULAR';
    line-height: 18px;
    margin: 12px;
}

/*!sc*/
data-styled.g373[id="GrofersDisclaimer__Text-sc-101f2x7-0"] {
    content: "kymqhZ,"
}

/*!sc*/
.kLUAeg {
    max-width: 1280px;
    margin: auto;
    margin-top: 48px;
}

/*!sc*/
@media (max-width:1020px) {
    .kLUAeg {
        margin-top: 0px;
        padding-bottom: 85px;
    }
}

/*!sc*/
data-styled.g374[id="Footer__FooterContainer-sc-14h3h0g-0"] {
    content: "kLUAeg,"
}

/*!sc*/
.daIGDP {
    width: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*!sc*/
@media (max-width:1280px) {
    .daIGDP {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*!sc*/
@media (max-width:768px) {
    .daIGDP {
        padding: 16px;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .daIGDP {
        margin-top: 0px;
    }
}

/*!sc*/
data-styled.g375[id="Footer__Wrapper-sc-14h3h0g-1"] {
    content: "daIGDP,"
}

/*!sc*/
.kpOOCb {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 74px;
}

/*!sc*/
data-styled.g377[id="Print__Container-sc-fby9z1-1"] {
    content: "kpOOCb,"
}

/*!sc*/
.eZKItv {
    height: calc(100vh - 86px);
}

/*!sc*/
data-styled.g378[id="Print__LoaderContainer-sc-fby9z1-2"] {
    content: "eZKItv,"
}

/*!sc*/
.jzxMvs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 86px;
    width: 178px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
.jzxMvs:hover {
    background-color: #fcfcfc;
}

/*!sc*/
@media (max-width:1020px) {
    .jzxMvs {
        height: 68px;
    }
}

/*!sc*/
data-styled.g540[id="BlinkitLogo__LogoContainer-sc-xocpjl-0"] {
    content: "jzxMvs,"
}

/*!sc*/
.gcLVHe {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 86px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

/*!sc*/
@media (min-width:1260px) {
    .gcLVHe {
        width: 320px;
    }
}

/*!sc*/
@media (min-width:1020px) and (max-device-width:1260px) {
    .gcLVHe {
        margin-left: 20px;
        margin-right: 10px;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .gcLVHe {
        height: 68px;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding-left: 16px;
    }
}

/*!sc*/
.gcLVHe:hover {
    background-color: #fcfcfc;
}

/*!sc*/
data-styled.g547[id="LocationBar__Container-sc-x8ezho-6"] {
    content: "gcLVHe,"
}

/*!sc*/
.eOczDn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 86px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
@media (min-width:1260px) {
    .eOczDn {
        margin-right: 32px;
        margin-left: 12px;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .eOczDn {
        margin-right: 12px;
        margin-left: 8px;
        height: 68px;
    }
}

/*!sc*/
data-styled.g558[id="CartButton__Container-sc-1fuy2nj-3"] {
    content: "eOczDn,"
}

/*!sc*/
.iQAgjV {
    font-size: 14px;
    color: #ffffff;
    font-family: Okra-Bold;
}

/*!sc*/
data-styled.g559[id="CartButton__Text-sc-1fuy2nj-4"] {
    content: "iQAgjV,"
}

/*!sc*/
.joEvaa {
    background-color: #0c831f;
    border-radius: 8px;
    cursor: pointer;
    height: 52px;
    width: 112px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
data-styled.g560[id="CartButton__Button-sc-1fuy2nj-5"] {
    content: "joEvaa,"
}

/*!sc*/
.iyUoPU {
    font-size: 28px;
    color: #ffffff;
    font-family: CustomFont;
    margin-right: 8px;
}

/*!sc*/
.iyUoPU:hover {
    -webkit-animation: dnVyWS 0.6s 2;
    animation: dnVyWS 0.6s 2;
}

/*!sc*/
data-styled.g561[id="CartButton__CartIcon-sc-1fuy2nj-6"] {
    content: "iyUoPU,"
}

/*!sc*/
.bFHCDW {
    font-size: 18px;
    font-weight: 400;
    color: #363636;
    font-family: Okra-Regular;
    -webkit-transition: font-size 0.5s;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

/*!sc*/
data-styled.g565[id="ProfileButton__Text-sc-975teb-2"] {
    content: "bFHCDW,"
}

/*!sc*/
.liSUTa {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 86px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/*!sc*/
@media (min-width:1260px) {
    .liSUTa {
        width: 162px;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .liSUTa {
        margin-right: 8px;
        height: 68px;
    }
}

/*!sc*/
@media (min-width:1020px) and (max-device-width:1260px) {
    .liSUTa {
        margin-right: 12px;
    }
}

/*!sc*/
.liSUTa:hover {
    background-color: #fcfcfc;
}

/*!sc*/
data-styled.g566[id="ProfileButton__Container-sc-975teb-3"] {
    content: "liSUTa,"
}

/*!sc*/
.dPbxWD {
    width: 100%;
}

/*!sc*/
data-styled.g586[id="SearchBar__PlaceholderContainer-sc-16lps2d-0"] {
    content: "dPbxWD,"
}

/*!sc*/
.iJnYYS {
    height: 100%;
    overflow: hidden;
    position: relative;
}

/*!sc*/
.iJnYYS #animationText-1 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

/*!sc*/
.iJnYYS #animationText-2 {
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

/*!sc*/
.iJnYYS #animationText-3 {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}

/*!sc*/
.iJnYYS #animationText-4 {
    -webkit-animation-delay: 4500ms;
    animation-delay: 4500ms;
}

/*!sc*/
.iJnYYS #animationText-5 {
    -webkit-animation-delay: 6000ms;
    animation-delay: 6000ms;
}

/*!sc*/
.iJnYYS #animationText-6 {
    -webkit-animation-delay: 7500ms;
    animation-delay: 7500ms;
}

/*!sc*/
.iJnYYS #animationText-7 {
    -webkit-animation-delay: 9000ms;
    animation-delay: 9000ms;
}

/*!sc*/
.iJnYYS #animationText-8 {
    -webkit-animation-delay: 10500ms;
    animation-delay: 10500ms;
}

/*!sc*/
.iJnYYS #animationText-9 {
    -webkit-animation-delay: 12000ms;
    animation-delay: 12000ms;
}

/*!sc*/
.iJnYYS #animationText-10 {
    -webkit-animation-delay: 13500ms;
    animation-delay: 13500ms;
}

/*!sc*/
data-styled.g587[id="SearchBar__AnimationWrapper-sc-16lps2d-1"] {
    content: "iJnYYS,"
}

/*!sc*/
.bdBtSc {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-animation: cbWWSx 15000ms infinite forwards;
    animation: cbWWSx 15000ms infinite forwards;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    margin-top: 14px;
}

/*!sc*/
data-styled.g588[id="SearchBar__AnimationText-sc-16lps2d-2"] {
    content: "bdBtSc,"
}

/*!sc*/
.ZIGuc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    background-color: inherit;
}

/*!sc*/
@media (max-width:1020px) {
    .ZIGuc {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        padding-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 12px;
    }
}

/*!sc*/
data-styled.g589[id="SearchBar__Container-sc-16lps2d-3"] {
    content: "ZIGuc,"
}

/*!sc*/
.fgHDQx {
    width: 100%;
    padding: 0px 12px;
    height: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 12px;
    background: rgb(248 248 248);
    color: rgb(130 130 130);
    border-color: rgb(232 232 232);
    box-shadow: none;
}

/*!sc*/
@media (max-width:1020px) {
    .fgHDQx {
        border-radius: 8px;
    }
}

/*!sc*/
@media (min-width:1260px) {
    .fgHDQx {
        cursor: text;
        border: 1px solid rgba(0, 0, 0, 0.04);
    }
}

/*!sc*/
data-styled.g590[id="SearchBar__Button-sc-16lps2d-4"] {
    content: "fgHDQx,"
}

/*!sc*/
.hcexgJ {
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: CustomFont;
    font-size: 20px;
    color: #1f1f1f;
    margin: auto;
}

/*!sc*/
data-styled.g591[id="SearchBar__IconContainer-sc-16lps2d-5"] {
    content: "hcexgJ,"
}

/*!sc*/
.etwMDu {
    background-color: white;
    height: 86px;
    position: relative;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #eeeeee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*!sc*/
@media (max-width:1020px) {
    .etwMDu {
        height: auto;
    }
}

/*!sc*/
data-styled.g597[id="Header__HeaderContainer-sc-hejxrh-1"] {
    content: "etwMDu,"
}

/*!sc*/
.gUZOTl {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
}

/*!sc*/
data-styled.g598[id="Header__HeaderLeft-sc-hejxrh-2"] {
    content: "gUZOTl,"
}

/*!sc*/
.dVsawd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: 0;
    gap: 5px;
}

/*!sc*/
@media (min-width:1020px) and (max-device-width:1260px) {
    .dVsawd {
        margin: 0px 20px;
        margin-left: auto;
    }
}

/*!sc*/
@media (max-width:1020px) {
    .dVsawd {
        position: absolute;
        margin-left: auto;
    }
}

/*!sc*/
data-styled.g599[id="Header__HeaderRight-sc-hejxrh-3"] {
    content: "dVsawd,"
}

/*!sc*/
.UjObT {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*!sc*/
data-styled.g600[id="containers__HeaderContainer-sc-1t9i1pe-0"] {
    content: "UjObT,"
}

/*!sc*/
@-webkit-keyframes cbWWSx {
    0% {
        top: 100%;
        visibility: visible;
    }

    10% {
        top: 0;
    }

    20% {
        top: -100%;
        visibility: hidden;
    }

    100% {
        top: 100%;
        visibility: hidden;
    }
}

/*!sc*/
@keyframes cbWWSx {
    0% {
        top: 100%;
        visibility: visible;
    }

    10% {
        top: 0;
    }

    20% {
        top: -100%;
        visibility: hidden;
    }

    100% {
        top: 100%;
        visibility: hidden;
    }
}

/*!sc*/
data-styled.g701[id="sc-keyframes-cbWWSx"] {
    content: "cbWWSx,"
}

/*!sc*/
@-webkit-keyframes dnVyWS {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
@keyframes dnVyWS {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
data-styled.g702[id="sc-keyframes-dnVyWS"] {
    content: "dnVyWS,"
}

/*!sc*/
@-webkit-keyframes duscxa {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

/*!sc*/
@keyframes duscxa {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

/*!sc*/
data-styled.g703[id="sc-keyframes-duscxa"] {
    content: "duscxa,"
}

/*!sc*/